---
layout: default
---
<style>
#map {
        height: 400px;
        width: 100%;
       }
</style>
<script src="{{ site.url }}/js/vendor/jquery-1.9.1.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyBmVcmijL4cA-4N92g8N7iGfmMmWqup0o8"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmVcmijL4cA-4N92g8N7iGfmMmWqup0o8&callback=initMap">
    </script>
<script type="text/javascript">
	
	function initMap() {
        var lab = {lat: 35.235043, lng: 129.082645};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: lab
        });
        var marker = new google.maps.Marker({
          position: lab,
          map: map
        });
      }
	
</script>

<div id="main" role="main">			
	<div class="wrap">
		<div class="page-title">
			<h1>{{ page.title }}</h1>
			{% if page.excerpt %}<h2>{{ page.excerpt }}</h2>{% endif %}
		</div>
		<div class="archive-wrap">
			<div class="page-content">
				{{ content }}
			</div><!-- /.page-content -->
			<div class="page-content">
				<div id="map"></div>
			</div><!-- /.page-content -->
		</div class="archive-wrap">
	</div><!-- /.wrap -->
</div><!-- /#main -->